[Unit]
Description=internship backend Service
After=multi-user.target

[Service]
WorkingDirectory=/opt/internship/
Environment=FLASK_APP=/opt/internship/backend/app.py
ExecStart=pipenv run flask run --host=0.0.0.0 --port=5000 #test
Restart=always

[Install]
WantedBy=multi-user.target